body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
nav {
    background-color: transparent;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Cambia el color del texto para que sea visible contra el fondo transparente */
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4db5f1;
}

.INTRO {
    display: flex;
    background: linear-gradient(to right, #3268dd, #114766);
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
body {
    background: url('FONDO.jpg') no-repeat center center fixed, rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
}


p {
    font-family: robot;
    text-align: center;
    background: linear-gradient(to right, #4db5f1, #1a2a6c);
    border-radius: 0 20px 0 20px;
    color: white;
    margin: auto;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}


header {
    font-family: robot; /* Cambia el tipo de letra a Arial */
    background: linear-gradient(to right, #767479, #282534); /* Crea un degradado de color */
    color: white;
    padding: 10px;
    text-align: center;
}
img {
    border-radius: 30px 5PX 30px 5PX;
    display: block;
    margin: auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background: linear-gradient(to right, #290164, #141124);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
